#l-article {
	box-sizing: border-box;
	padding: $size_l $size_m $size_ll;
	@include media-tb {
		padding: 0;
	}
	.title {
		height: $size_ll;
		@include media-tb {
			height: 50px;
		}
	}
	.flexible {
		display: flex;
		@include media-tb {
			display: inherit;
		}
	}
}

#l-article #l-main {
	box-sizing: border-box;
	width: 800px;
	@include media-tb {
		width: 100%;
	}
	.article-content {
		box-sizing: border-box;
		padding: $size_l + $size_m;
		width: 800px;
		min-height: 1000px;
		background-color: $color_white;
		border-radius: $size_s;
		line-height: 2rem;
		@extend %font-default;
		@include media-tb {
			width: 100%;
			padding: $size_l $size_m;
			border-radius: 0;
		}
		.published {
			margin: 0;
			font-size: $font_ss;
			color: $color_main_lighten;
			span {
				color: $color_black;
			}
		}
		.ad-in-article {
			margin: $size_l 0 0;
			height: 225px;
			border: 1px solid purple;
			@include media-sp {
				margin: $size_m 0 0;
			}
		}
		h1 {
			margin: 0;
			padding: $size_m 0;
			border-top: 2px solid $color_main_lighten;
			border-bottom: 2px solid $color_main_lighten;
			font-size: $font_lll;
		}
		h2 {
			margin-top: $size_l;
			padding: $size_m 0;
			border-bottom: 3px double $color_main_lighten;
			font-size: $font_ll;
			&:before {
				content: '■';
				padding-right: $size_s;
				color: $color_accent;
				font-size: $font_ll;
			}
		}
		h3 {
			margin-top: $size_l;
			padding: $size_s 0;
			border-bottom: 1px solid $color_main_lighten;
			font-size: $font_l;
			&:before {
				content: '■';
				padding-right: $size_s;
				color: $color_main_lighten;
				font-size: $font_l;
			}
		}
		h4 {
			margin-top: $size_m;
			padding: $size_ss 0;
			border-bottom: 1px dotted $color_main_lighten;
			font-size: $font_m;
		}
		h5 {
			margin: $size_ss 0 0;
			padding: $size_ss 0;
			font-size: $font_m;
		}
		p {
			margin: $size_m 0;
			font-size: $font_m;
			color: $color_dark;
			line-height: 1.85rem;
		}
		ul, ol {
			padding-top: $size_m;
			padding-bottom: $size_m;
			background-color: $color_light;
			color: $color_dark;
			font-size: $font_s;
			line-height: $size_m + $size_s;
		}
		ul li {
			list-style-type: square;
		}
		dl {
			dt {
				font-weight: bold;
			}
		}
		a {
				color: $color_main;
				&:hover {
						color: $color_accent;
				}
		}
		q {
			display: inline-block;
			padding: $size_m;
			font-size: $font_s;
			color: $color_dark;
			background-color: $color_light;
			word-break: break-all;
		}
		blockquote {
			padding: $size_l;
			margin: $size_m 0;
			font-size: $font_s;
			color: $color_dark;
			background-color: $color_light;
			word-break: break-all;
		}
	}
}

#l-article #l-aside {
	position: relative;
	box-sizing: border-box;
	width: 400px;
	padding: 0 $size_l;
	@include media-tb {
		width: 100%;
		padding: $size_l $size_m;
	}
	.position-fix-container.fixed {
		width: 400px;
		position: fixed;
		top: $size_m;
	}
	.ad-in-aside {
		margin-bottom: $size_m;
		height: 225px;
		border: 1px solid green;
	}
	.article-nav {
		height: 500px;
		border: 1px solid $color_light;
		border-right: 0;
		overflow-y: scroll;
		@include media-tb {
			display: none;
		}
		ul {
			padding: 0;
			margin: 0;
			li {
				list-style-type: none;
				padding: $size_ss;
				a {
					display: block;
					color: $color_gray;
				}
				&:hover {
					background-color: $color_white;
				}
				&.h3 { padding-left: $size_m;}
				&.h4 { padding-left: $size_m * 2;}
				&.h5 { padding-left: $size_m * 3;}
			}
		}
	}
}