%p-articles {
	ul {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		@extend %font-default;
		@include media-sp {
			width: 100%;
		}
		li {
			position: relative;
			box-sizing: border-box;
			margin: 0 $size_m $size_m 0;
			padding: $size_m $size_m;
			width: calc(300px - $size_m);
			background-color: $color_white;
			list-style-type: none;
			transition: transform .2s, box-shadow .2s;
			cursor: pointer;
			@include media-sp {
				width: 100%;
				margin: 0 0 $size_m 0;
			}
			&:hover {
				transform: scale(1.02);
				box-shadow: 0 $size_m $size_m hsla(0, 0%, 0%, .08);
			}
			h3 {
				margin: 0;
				padding: $size_m 0;
				border-top: 1px solid $color_main_lighten;
				border-bottom: 1px solid $color_main_lighten;
				font-size: $font_m;
			}
			span {
				color: $color_main_lighten;
				font-size: $font_ss;
			}
			p {
				padding: 0;
				font-size: $font_s;
				color: $color_darkgray;
			}
			div.tags {
				font-size: $font_s;
				color: $color_gray;
				text-align: right;
			}
		}
	}
}
