<%- include('templates/head.ejs') -%>
<header>
	<h1>sagara.ink<span>半農半ITエンジニアのまとめノート</span></h1>
	<div class="nav-icon">
		<label for="sp-nav">
			<i class="fa-solid fa-bars"></i>
		</label>
	</div>
	<nav>
		<input type="checkbox" id="sp-nav">
		<ul>
			<li><i class="fa-solid fa-code"></i>Web・アプリ開発</li>
			<li><i class="fa-solid fa-seedling"></i>IoT・スマート農業</li>
			<li><i class="fa-solid fa-book"></i>きまぐれ日誌</li>
		</ul>
	</nav>
</header>
<main>
	<section id="l-hero">
		<div class="content_wrapper hero_content">
			<div id="intro">
				<p>
					<span >Come In We're Open</span><br />
					神戸生まれITエンジニアのブログです。
					主にWeb•アプリ開発やDIYスマート農業について発信しています。<br />
					学生時代のまとめノートのように、わかりやすく書くことを心がけています。
				</p>
			</div>
			<div id="info">
				<ul>
					<li class="shadow"><i class="fa-solid fa-code"></i>記事に関する質問をTwitterで受けています！詳しくはこちら。</li>
					<li class="shadow"><i class="fa-solid fa-droplet"></i>駆け出しエンジニア向け特集をアップしました。</li>
					<li class="shadow"><i class="fa-solid fa-leaf"></i>農業を、もっとカジュアルに。農業を、すべての日本人に。神戸市への移住情報はこちら。</li>
				</ul>
			</div>
		</div>
	</section>
	<section id="l-articles">
		<div class="content_wrapper">
			<div id="web">
				<div class="heading">
					<h3><i class="fa-solid fa-code"></i>Web・アプリ開発の新着記事</h3>
					<p><a href="#"><i class="fa-solid fa-circle-chevron-right"></i>一覧を見る</a></p>
				</div>
				<ul>
					<li class="shadow">
						<span>2022.1.1</span>
						<h3>AWS S3+CloudFrontに静的Webサイトを設置し、GitHub+CircleCIでデプロイ環境を構築する</h3>
						<p>
							HTMLやCSSをコーディングするときに、何度も繰り返し同じタグ名を書いたりするのは、手間がかかります。
							そこで、効率的にコーディングをするためのツールを導入していきましょう。</p>
						<div class="tags">Docker/AWS/Nginx</div>
					</li>
					<li class="shadow">
						<span>2022.1.1</span>
						<h3>EJS+Sassで効率的にHTML+CSSコーディングする</h3>
						<p>
							HTMLやCSSをコーディングするときに、何度も繰り返し同じタグ名を書いたりするのは、手間がかかります。
							そこで、効率的にコーディングをするためのツールを導入していきましょう。</p>
						<div class="tags">Docker/AWS/Nginx</div>
					</li>
					<li class="shadow">
						<span>2022.1.1</span>
						<h3>EJS+Sassで効率的にHTML+CSSコーディングする</h3>
						<p>
							HTMLやCSSをコーディングするときに、何度も繰り返し同じタグ名を書いたりするのは、手間がかかります。
							そこで、効率的にコーディングをするためのツールを導入していきましょう。</p>
						<div class="tags">Docker/AWS/Nginx</div>
					</li>
					<li class="shadow">
						<span>2022.1.1</span>
						<h3>EJS+Sassで効率的にHTML+CSSコーディングする</h3>
						<p>
							HTMLやCSSをコーディングするときに、何度も繰り返し同じタグ名を書いたりするのは、手間がかかります。
							そこで、効率的にコーディングをするためのツールを導入していきましょう。</p>
						<div class="tags">Docker/AWS/Nginx</div>
					</li>
					<li class="shadow">
						<span>2022.1.1</span>
						<h3>EJS+Sassで効率的にHTML+CSSコーディングする</h3>
						<p>
							HTMLやCSSをコーディングするときに、何度も繰り返し同じタグ名を書いたりするのは、手間がかかります。
							そこで、効率的にコーディングをするためのツールを導入していきましょう。</p>
						<div class="tags">Docker/AWS/Nginx</div>
					</li>
					<li class="shadow">
						<span>2022.1.1</span>
						<h3>EJS+Sassで効率的にHTML+CSSコーディングする</h3>
						<p>
							HTMLやCSSをコーディングするときに、何度も繰り返し同じタグ名を書いたりするのは、手間がかかります。
							そこで、効率的にコーディングをするためのツールを導入していきましょう。</p>
						<div class="tags">Docker/AWS/Nginx</div>
					</li>
				</ul>
			</div>
			<div id="agri">
				<div class="heading">
					<h3><i class="fa-solid fa-seedling"></i>IoT・スマート農業の新着記事</h3>
					<p><a href="#"><i class="fa-solid fa-circle-chevron-right"></i>一覧を見る</a></p>
				</div>
				<ul>
					<li class="shadow">
						<span>2022.1.1</span>
						<h3>AWS S3+CloudFrontに静的Webサイトを設置し、GitHub+CircleCIでデプロイ環境を構築する</h3>
						<p>ここは説明欄ここは説明欄・・・</p>
						<div class="tags">Docker/AWS/Nginx</div>
					</li>
					<li class="shadow">
						<span>2022.1.1</span>
						<h3>AWS S3+CloudFrontに静的Webサイトを設置し、GitHub+CircleCIでデプロイ環境を構築する</h3>
						<p>ここは説明欄ここは説明欄・・・</p>
						<div class="tags">Docker/AWS/Nginx</div>
					</li>
					<li class="shadow">
						<span>2022.1.1</span>
						<h3>AWS S3+CloudFrontに静的Webサイトを設置し、GitHub+CircleCIでデプロイ環境を構築する</h3>
						<p>ここは説明欄ここは説明欄・・・</p>
						<div class="tags">Docker/AWS/Nginx</div>
					</li>
					<li class="shadow">
						<span>2022.1.1</span>
						<h3>AWS S3+CloudFrontに静的Webサイトを設置し、GitHub+CircleCIでデプロイ環境を構築する</h3>
						<p>ここは説明欄ここは説明欄・・・</p>
						<div class="tags">Docker/AWS/Nginx</div>
					</li>
				</ul>
			</div>
			<div id="diary">
				<div class="heading">
					<h3><i class="fa-solid fa-book"></i>きまぐれ日誌</h3>
					<p><a href="#"><i class="fa-solid fa-circle-chevron-right"></i>一覧を見る</a></p>
				</div>
				<ul>
					<li class="shadow">
						<span>2022.1.1</span>
						<h3>AWS S3+CloudFrontに静的Webサイトを設置し、GitHub+CircleCIでデプロイ環境を構築する</h3>
					</li>
					<li class="shadow">
						<span>2022.1.1</span>
						<h3>AWS S3+CloudFrontに静的Webサイトを設置し、GitHub+CircleCIでデプロイ環境を構築する</h3>
					</li>
					<li class="shadow">
						<span>2022.1.1</span>
						<h3>AWS S3+CloudFrontに静的Webサイトを設置し、GitHub+CircleCIでデプロイ環境を構築する</h3>
					</li>
					<li class="shadow">
						<span>2022.1.1</span>
						<h3>AWS S3+CloudFrontに静的Webサイトを設置し、GitHub+CircleCIでデプロイ環境を構築する</h3>
					</li>
				</ul>
			</div>
		</div>
	</section>
</main>
<%- include('templates/footer.ejs') -%>