<%- include('templates/parts/head.ejs') -%>
<%- include('templates/parts/header.ejs') -%>
<main>
	<section id="l-title">
		<div class="content-wrapper">
			<h2>Web・アプリ開発の記事</h2>
		</div>
	</section>
	<section id="l-list">
		<div class="content-wrapper flexible">
			<div class="articles">
				<h3>1ページ / タグ：Docker</h3>
				<ul>
					<li class="shadow">
						<span>2022.1.1</span>
						<h3>AWS S3+CloudFrontに静的Webサイトを設置し、GitHub+CircleCIでデプロイ環境を構築する</h3>
						<p>
							HTMLやCSSをコーディングするときに、何度も繰り返し同じタグ名を書いたりするのは、手間がかかります。
							そこで、効率的にコーディングをするためのツールを導入していきましょう。</p>
						<div class="tags">Docker/AWS/Nginx</div>
					</li>
					<li class="shadow">
						<span>2022.1.1</span>
						<h3>EJS+Sassで効率的にHTML+CSSコーディングする</h3>
						<p>
							HTMLやCSSをコーディングするときに、何度も繰り返し同じタグ名を書いたりするのは、手間がかかります。
							そこで、効率的にコーディングをするためのツールを導入していきましょう。</p>
						<div class="tags">Docker/AWS/Nginx</div>
					</li>
					<li class="shadow">
						<span>2022.1.1</span>
						<h3>EJS+Sassで効率的にHTML+CSSコーディングする</h3>
						<p>
							HTMLやCSSをコーディングするときに、何度も繰り返し同じタグ名を書いたりするのは、手間がかかります。
							そこで、効率的にコーディングをするためのツールを導入していきましょう。</p>
						<div class="tags">Docker/AWS/Nginx</div>
					</li>
					<li class="shadow">
						<span>2022.1.1</span>
						<h3>EJS+Sassで効率的にHTML+CSSコーディングする</h3>
						<p>
							HTMLやCSSをコーディングするときに、何度も繰り返し同じタグ名を書いたりするのは、手間がかかります。
							そこで、効率的にコーディングをするためのツールを導入していきましょう。</p>
						<div class="tags">Docker/AWS/Nginx</div>
					</li>
					<li class="shadow">
						<span>2022.1.1</span>
						<h3>EJS+Sassで効率的にHTML+CSSコーディングする</h3>
						<p>
							HTMLやCSSをコーディングするときに、何度も繰り返し同じタグ名を書いたりするのは、手間がかかります。
							そこで、効率的にコーディングをするためのツールを導入していきましょう。</p>
						<div class="tags">Docker/AWS/Nginx</div>
					</li>
					<li class="shadow">
						<span>2022.1.1</span>
						<h3>EJS+Sassで効率的にHTML+CSSコーディングする</h3>
						<p>
							HTMLやCSSをコーディングするときに、何度も繰り返し同じタグ名を書いたりするのは、手間がかかります。
							そこで、効率的にコーディングをするためのツールを導入していきましょう。</p>
						<div class="tags">Docker/AWS/Nginx</div>
					</li>
				</ul>
			</div>
			<div class="aside">
				<h3>アーカイブ</h3>
				<ul>
					<li><a href="#">2022 (10)</a></li>
					<li><a href="#">2021 (10)</a></li>
				</ul>
				<h3>カテゴリ</h3>
				<ul>
					<li><a href="#">フロントエンド (0)</a></li>
					<li><a href="#">バックエンド (0)</a></li>
					<li><a href="#">ネットワーク・インフラ (0)</a></li>
					<li><a href="#">デザイン (0)</a></li>
					<li><a href="#">PM・PdM (0)</a></li>
				</ul>
				<h3>タグ</h3>
				<ul>
					<li><a href="#">Docker (0)</a></li>
					<li><a href="#">AWS (0)</a></li>
				</ul>
			</div>
		</div>
	</section>
</main>
<%- include('templates/parts/footer.ejs') -%>