#l-footer {
	box-sizing: border-box;
	padding: $size_l + $size_m $size_m $size_ll;
	min-width: calc($content_width + $size_m);
	background-color: $color_main_darken;
	color: $color_white;
	@include media-tb {
		min-width: inherit;
	}
	.footer-content {
		display: flex;
		@include media-tb {
			display: inherit;
		}
	}
	.col {
		width: 300px;
		&:first-child {
			width: 600px;
			@include media-tb {
				width: 100%;
			}
		}
		@include media-tb {
			width: 100%;
			padding-bottom: $size_s;
		}
	}
	a {
		color: $color_white;
	}
	.sns-icons {
		list-style-type: none;
		margin: $size_m 0;
		img {
			width: 32px;
			height: 32px;
			margin-right: $size_s;
			transition: transform .2s;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}