@import "../../node_modules/normalize.css/normalize.css";
@import "./util.scss";
@import url('https://fonts.googleapis.com/css2?family=Norican&family=Zen+Maru+Gothic&display=swap');

/* General Settings */
%font-default { font-family: sans-serif; }
%font-title { font-family: 'Norican', cursive; }
%font-heading { font-family: 'Zen Maru Gothic', sans-serif; }
%flex { display: flex; }

body {
	position: relative;
	background-color: $color_base;
	@extend %font-heading;
}
a {
	color: $color_main_lighten;
	text-decoration: none;
	&:hover {
		color: $color_accent;
	}
}
.content_wrapper {
	width: $content_width;
	margin: 0 auto;
	@include media-sp {
		width: 100%;
	}
}
.shadow {
	box-shadow: 0 $size-s $size-s hsla(0, 0%, 0%, .1);
}

@import "./layouts/_header.scss";
@import "./layouts/_footer.scss";
@import "./_index.scss";
@import "./_list.scss";
@import "./_article.scss";