<footer id="l-footer">
	<div class="content-wrapper footer-content">
			<div class="col">
				<p>sagara.ink - 半農半ITエンジニアのまとめノート</p>
				<p>2022 &copy; sagara.ink</p>
			</div>
			<div class="col">
				<p><a href="#">Web・アプリ開発</a></p>
				<p><a href="#">IoT・スマート農業</a></p>
				<p><a href="#">日記</a></p>
			</div>
			<div class="col">
				<p><a href="#">当ブログに関するお問い合わせ</a></p>
				<li class="sns-icons">
					<a href=""><img src="images/github.png" /></a>
					<a href=""><img src="images/twitter.png" /></a>
				</p>
			</ul>
	</div>
</footer>
</body>
</html>