<header id="l-header">
	<h1>sagara.ink<span>半農半ITエンジニアのまとめノート</span></h1>
	<div class="nav-icon">
		<label for="sp-nav">
			<i class="fa-solid fa-bars"></i>
		</label>
	</div>
	<nav>
		<input type="checkbox" id="sp-nav">
		<ul>
			<li><i class="fa-solid fa-code"></i><span>Web・アプリ</span>開発</li>
			<li><i class="fa-solid fa-seedling"></i><span>IoT・スマート</span>農業</li>
			<li><i class="fa-solid fa-book"></i><span>きまぐれ</span>日誌</li>
		</ul>
	</nav>
</header>
