<header id="l-header">
	<a href="index.html">
		<h1>sagara.ink<span>半農半ITエンジニアのまとめノート</span></h1>
	</a>
	<div class="nav-icon">
		<label for="sp-nav">
			<i class="fa-solid fa-bars"></i>
		</label>
	</div>
	<nav>
		<input type="checkbox" id="sp-nav">
		<ul>
			<a href="list.html"><li><i class="fa-solid fa-code"></i><span>Web・アプリ</span>開発</li></a>
			<a href="list.html"><li><i class="fa-solid fa-seedling"></i><span>IoT・スマート</span>農業</li></a>
			<a href="list.html"><li><i class="fa-solid fa-book"></i><span>エッセイ・</span>日記</li></a>
		</ul>
	</nav>
</header>
